{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
  <head>
      <base href="/" />
    <meta charset="UTF-8">
    <title>Test</title>
  </head>

  <body>
      {% csrf_token %}
    <div id="react-app"></div>
    {% render_bundle 'main' %}
    
  </body>
</html>